[submodule "zsh/antigen"]
	path = zsh/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
