[submodule "zsh/antigen"]
	path = zsh/antigen
	url = http://github.com/zsh-users/antigen.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = http://github.com/Shougo/neobundle.vim.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = http://github.com/erikw/tmux-powerline.git
